*{
    font-family: "Oswald", sans-serif;
}

body {
    background-image: linear-gradient(rgba(200,200,20,0.1), rgba(200,200,20,0.2)), url(./Media/Background-Image-Page-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    color: aqua;
}

.Home-Page-2 {
    color: aqua;
    text-decoration: none;
}

h3 {
    color: yellow;
}

.First-section-Page-2 > p {
    color: aqua;
}

.First-article-First-section-Page-2 {
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: justify;
}

.Second-article-First-section-Page-2 {
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: justify;
}

.First-article-Second-section-Page-2 {
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: justify;
}

.First-article-Third-section-Page-2 {
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: justify;
}

.First-article-Fourth-section-Page-2 {
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: justify;
}